@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0 auto;
  align-items: center;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(37, 37, 37);
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #fff;
  font-weight: 900;
}

.counter {
  color: #eb33bd;
  font-size: 40px;
  text-align: center;
}

.container {
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  gap: 0.5rem;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

button:hover {
  background-color: #eb33bd;
}

button:focus {
  border-color: #960070;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.toggle {
  margin-top: 2rem;
}

.light-mode {
  background-color: #fff5fa;
  color: #0f1111;
}

.light-mode-text {
  color: #f541c5;
}

.light-mode-h1 {
  color: #5e6161;
}

.light-mode-button {
  color: #eb33bd;
  background-color: #f5bae4;
  border: 1px solid #ffccf0;
}

.light-mode-button:hover {
  background-color: #f5e7f1;
}

/* @media (prefers-color-scheme: light) {
  body {
    background-color: #d5d9d9;
  }

  h1 {
    color: #0f1111;
  }
} */
